[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"

[packages]
stocks-api = {path = ".", extras = ["testing"], editable = true}

[requires]
python_version = "3.6"
